.mail-display-card{
    background-color: var(--bgc);
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: .5rem;
    align-items: baseline;
    border-radius: .33rem;
}

.mail-display-card .btn{
    margin: .25em
}

.mail-title{
    text-align: center;
}

.mail-txt{
    height: 50vh;
}

.first-buttons-row {
    justify-content: center;
    width: 100%;
}
.second-buttons-row {
    justify-content: center;
    width: 100%;
}