/* .mail-compose-card {
  background-color: var(--bgc);
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  align-items: baseline;
  border-radius: 0.33rem;
  gap: 1rem;
} */

.mail-compose-buttons {
  width: 100%;
  justify-content: space-between;
}

.mail-compose-title {
  text-align: center;
}

.mail-compose-to {
  width: 100%;
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.mail-compose-subject {
  height: 2rem;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.mail-compose-txt {
  height: 40vh;
  width: 100%;
  resize: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
