.search-options {
  justify-content: space-between;
  height: 100px;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.mail-logo{
    min-width: 10rem;
    margin: 0
}

.mail-page-container {
  background-color: var(--page);
}

.mail-preview-container {
  padding-left: 0;
}

.email-list {
  width: 100%;
  box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
  padding-left: .5rem;
}

.email-list:hover{
    background-color: var(--hover);

}

.email-list {
  padding-right: 1rem;
}

.mail-from {
  flex-basis: 10rem;
}

.mail-subject {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sent-at {
  flex-basis: 6rem;
  text-align: right;
}

/* .nav-mail-container {
  margin-right: auto;
  margin-left: auto;
} */

.mail-container {
  background-color: var(--bgc);
  flex-grow: 1;
  margin-left: 2rem;

}

.read-inputs{
  gap: 1rem;
}

.sort-inputs{
  gap: 1rem;
}

.mail-nav {
  height: 7rem;
  justify-content: space-between;
  min-width: 10rem;
}

.mail-search{
  height: 2rem;
  border-radius: .25rem;
}

.bold {
  font-family: roboto-bold;
}
