.search-options {
  justify-content: space-between;
  height: 100px;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.mail-logo{
    min-width: 10rem;
}

.mail-page-container {
  background-color: var(--page);
}

.mail-preview-container {
  padding-left: 0;
}

.email-list {
  width: 100%;
  box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
  padding-left: .5rem;
}

.email-list:hover{
    background-color: var(--hover);

}

.email-list > *:not(:last-child) {
  margin-right: 1.5rem;
}

.mail-from {
  width: 20rem;
  flex-basis: 15rem;
}

.mail-subject {
  flex-grow: 1;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sent-at {
  flex-basis: 15rem;
}

/* .nav-mail-container {
  margin-right: auto;
  margin-left: auto;
} */

.mail-container {
  background-color: var(--bgc);
  flex-grow: 1;
  margin-left: 2rem;
}

.mail-nav {
  height: 7rem;
  justify-content: space-between;
  min-width: 10rem;
}

.bold {
  font-family: roboto-bold;
}
