.mail-display-card .btn{
    margin: .25em
}

.mail-title{
    text-align: center;
}

.mail-txt{
    height: 30vh;
}

.first-buttons-row {
    justify-content: center;
    width: 100%;
}
.second-buttons-row {
    justify-content: center;
    width: 100%;
}