.header-container {
  background-color: var(--theme);
}

.hamburger-menu {
  margin-right: 2rem;
}

.close-menu {
  width: 2.5rem;
  align-self: end;
}

.app-header {
  height: 100px;
  padding: 0;
  align-items: center;
}

.appsus-link {
  display: flex;
  align-items: center;
}
.appsus-link:hover {
  background-color: var(--hover);
}

.header-links > *:hover {
  background-color: var(--hover);
}
