.user-msg{
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
}

.success {
    background-color: lightgreen;
}

.error {
    background-color: red;
    color: white;
}

.router-link-exact-active {
    color: bisque;
}