* {
    box-sizing: border-box;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    overflow-x: hidden;
}

img {
    width: 100%
}

button{
    cursor: pointer;
}

a{
    color: black
}

a:visited{
    color: black
}


ul{
    margin-top: 0;
    margin-bottom: 0;
}