/* flex */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* grid */

.grid {
  display: grid;
}

/* list */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clean-link {
  text-decoration: none;
}

.no-overflow {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* color */
