/* layout */

/* .main-layout {
  moved to MQ
  max-width: 1200px;
  width: 80vw;
  margin: 0 auto;
  padding: 1rem;
}

.page-as-card-layout {
  background-color: var(--bgc);
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  align-items: baseline;
  border-radius: 0.33rem;
  gap: 1rem;
} */

/* flex */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* grid */

.grid {
  display: grid;
}

/* list */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clean-link {
  text-decoration: none;
  color: black;
}

/* color */
