:root {
    --black: #202124;
    --page: rgba(235, 234, 227, 0.918);
    --bgc: rgba(185, 190, 190, 0.829);
    --border: #585757;
    --hover: rgb(172, 165, 165);
    --theme: #1a6bd6b8;
    --white: rgb(224, 212, 212);
}
