
.note-index {
position: relative;
}

.add-btn {
    display: block;
    margin: 1rem auto;
    
}
.add-note {
    position: absolute;
    width: 60%;
    /* height: 300px; */
    margin: 1rem auto;
    font-size: 1.5rem;
    background-color: var(--white);
}
.add-note label{
    margin: 1rem auto;
    font-size: 1.5rem;
}

.add-note select{
    font-size: 1.5rem;
    border-radius: 5px;
}

.add-note .note-to-add {
    background-color: var(--bgc);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 0.5rem;
}

