.note-logo {
  min-width: 10rem;
}

.note-list .all-cards-list {
  column-count: auto;
  column-width: 225px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.note-todos ul {
  padding-left: 0;
}

.note-list .note-preview {
  cursor: pointer;
  width: 225px;
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
  list-style-type: none;
  display: inline-block;
}
.note-list .note-preview section:hover {
  box-shadow: 0px 0px 10px 0px #443d3a;
}
.note-list .note-preview > * {
  background-color: var(--bgc);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0.5rem;
}
.note-list img {
  width: 80%;
}
.note-list iframe {
  width: 80%;
  height: 50%;
}

.todo-line {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 80%;
  gap: 10px;
}
